.form-wrapper {
    margin-top: 50px;
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
}
.contact-form {
    padding: 20px;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
}
.mid-form {
    margin-top: 40px;
    padding: 0 10%;
    box-sizing: border-box;
}
label {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin: 10px 0 0 0;

}
.radios {
    display: flex;
    align-items: flex-end;
}
input[type=radio] {
    width: 25px;
    height: 25px;
    margin: 0 10px;
}
.form-input {
    width: 100%;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}
.form-submit {
    width: 100%;
    padding: 30px 20%;
    box-sizing: border-box;
    
}
textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    width: 100%;
    height: 175px;
    min-height: 175px;
    min-width: 100%;
    max-width: 100%;
}
.form-input:hover, textarea:hover, input[type=date]:hover {
    border: 2px black solid;
    background-color: rgba(0, 0, 0, 0.061);
}
input[type=date] {
    width: 40%;
    font-size: 1.4rem;
}
input[type=submit] {
    font-size: 1.4rem;
    color: rgb(230, 230, 230);
    background-color: var(--green1);
    width: 100%;
    height: 40px;
}
input[type=submit]:hover {
    background-color: rgb(0, 144, 0);
    border: 2px black solid;
}
