.tabel-wraper {
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
}
.legenda-wraper {
    display: flex;
    flex-wrap: wrap;
}
.legenda-item {
    display: flex;
}
.legenda-text {
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}
.legenda-circle {
    margin: 0 40px 10px 0;
    width: 28px;
    height: 28px;
    border-radius: 20px;
    background-color: var(--green1);
    border: 2px black solid;
}
.reservering {
    position: absolute;
    left: 25%;
    width: 50%;
    background-color: rgb(185, 185, 185);
    padding: 0 0 40px 0;
}
.calender {
    border: 2px black solid;
    border-radius: 10px;
    border-spacing: 10px;
    background-color: rgb(185, 185, 185);
}
.weekdays {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.date-block {
    width: 150px;
    height: 80px;
    background-color: rgb(134, 35, 35);
    text-align: center;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border: 1px black solid;
    
}
.table-button {
    font-size: 1.03rem;
    height: 30px;
    background-color: var(--green5);
}
.date {
    user-select: none;
}
.date-block:hover {
    opacity: 0.8;
}