.filters {
    height: 500px;
    background-color: white;
    flex: 1;
}
.review-button {
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
}
.form-titel {
    width: 100%;
    padding: 10px;
}
input[type=button], input[type=submit] {
    color: rgb(230, 230, 230);
    font-size: 1rem;
    background-color: var(--green1);
    width: 100%;
    height: 30px;
    
}
input[type=button]:hover, input[type=submit]:hover, 
input[type=text]:hover, input[type=email]:hover, 
input[type=number]:hover, textarea:hover{
    border: 2px black solid;
}
input[type=submit] {
    position: relative; 
    margin-top: 20px;
    left: 0; 
    bottom: 0;
}
textarea {
    border: 0.5px black solid;
    max-width: 100%;
    min-width: 100%;
    min-height: 50px;
}
label {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin: 10px 5px 0 0;
    width: fit-content;
    display: inline-block;
}
.page-small-text {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}
.form-wrapper {
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
}
.form-input {
    border: 0.5px black solid;
    width: 100%;
    height: 25px;
}
.reviews {
    margin-left: 50px;
    height: 800px;
    box-sizing: border-box;
    flex: 2.5;
}
.review {
    width: 100%;
    height: 160px;
    padding: 1.3rem;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: white;
}
.review:hover {
    box-shadow: 0 5px 10px 0px rgba(161, 161, 161, 0.363);
}
.review-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    max-width: max-content;
    margin: 0;
    display: inline;
}
.review-datum {
    position: relative;
    float: right;
    display: inline;
}
.review-img {
    display: inline-block;
    height: 30px;
    width: 165px;
    margin-left: 10px;
}
.review-content {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
}
.new-review {
    position: absolute;
    width: 40%;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
.dimmer {
    position: absolute;
    height: 150%;
    width: 100%;
    background-color: black;
    z-index: 1;
    opacity: 0.7;
}
